<div class="wrapper">
  <div>
    <mat-toolbar>
      <mat-toolbar-row>
        <i class="fas fa-quote-left"></i><i class="fas fa-quote-right" style="margin-right: 1%"></i>
        <h4 style="font-weight: 600;"> Today's Quotes</h4>

        <div fxFlex></div>
        <span style="margin-right: 0.7%;">Gradient</span>
        <mat-slide-toggle #toggle [color]="'primary'" [checked]="checked" [disabled]="disabled">
          Solid
        </mat-slide-toggle>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <app-quotes-list [isGradient]="toggle.checked"></app-quotes-list>
</div>
